body {
  background-color: #f2decb;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  color: #272004;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
}

form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.search-bar {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272004;
}

.submit-button {
  margin-left: 10px;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.recipe {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  line-height: 24px;
  border-left: 3px solid;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
