body {
  background-color: #f7ddc5;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  color: #f5a458;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
}

.form-container {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 15px 20px;
}

form {
  display: flex;
}

.example {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

.search-bar {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272004;
}

.submit-button {
  margin-left: 10px;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.submit-button:hover {
  background-color: #f5a458;
  color: #efefef;
}

.recipe {
  font-size: 16px;
  background-color: white;
  color: #f5a458;
  padding: 20px;
  line-height: 2;
  line-height: 24px;
  border-left: 3px solid;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
